.Login {
  &.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    max-width: 40%;
    margin: 0 auto;
  }
  .button-container {
    display: flex;
    justify-content: center;
    .submit {
      border: none;
      background: none;
      margin: 0 auto;
      cursor: pointer;
      border-radius: 50px;
      padding: 0;
    }
  }
  .error {
    color: red;
    font-size: small;
    text-align: center;
  }
}
