.container {
  width: 100%;
  label {
  }

  .Input {
    margin: 10px 0;
    input {
      width: 100%;
      height: 50px;
      border-radius: 25px;
      border: none;
      padding: 5px 20px;
    }
  }
}
