@import "../../variables";

.bar {
  width: 100%;
  background-color: $bg-gray;
  padding: 4px;
  border-radius: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .symbol {
    height: 100%;
    border-radius: 1rem;
  }
  &.notice {
    height: auto;
    span {
      margin-left: 5px;
    }
  }
  &.main {
    padding: 1rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    p:first-of-type {
      flex: 1;
      margin-left: 1rem;
    }
    p {
      font-size: $medium-font;
    }
  }
}
