$bg-main-dark: #181818;
$bg-gray: #323232;
$bg-orange: #ae5604;
$orange-font: #FF9900;
$main-font-gray: #E6E6E6;
$font-green: #00E109;
$font-unavailable: #A0A0A0;

$ref-font-size: 16px;
$title: 1.15rem;
$medium-font: 0.85rem;
$small-font: 0.75rem;
